.FooterTempMain {
    /* later */
    /* width: 85%; */
    width: 100%;
    display: flex;
    flex-direction: column;

}

.footer_below {
    display: flex;
    justify-content: space-between;
    width: calc(100%);
    background: #EFFFF7;
    color: black;
    font-size: 12px;
    padding: 10px 30px;
}

.footer_top {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 25px;
    background: white;
    /* box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); */

    color: white;
}