.CategoryTab {
    display: flex;
    padding: 0px 30px;
    padding-bottom: 10px;
    gap: 10px;
    justify-content: center;
}

.CategoryTabEach {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    /* color: #208F59; */
    font-weight: bold;

}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 60px);
    /* height: 300px; */
    background: #f1f1f1;
    margin: 10px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
}

.tabs {

    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #208F59;
}



button {
    border: none;

}

.content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}


.ArticlesContentVideo {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    margin: 0px 30px;
    margin-bottom: 20px;
    /* flex-direction: column; */
    
    /* gap: 20px;  */

}

.ArticlesContentEachVideo {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 27px);
    margin-left: 20px;
    margin-bottom: 20px;
    /* flex-wrap: wrap; */
    min-width: 300px;
    flex: 1;
    margin-right: 20px;


    box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.25),
                4px 0 4px -4px rgba(0, 0, 0, 0.25),
                -4px 0 4px -4px rgba(0, 0, 0, 0.25);
    
}

.ArticlesContentImageDIvVideo {
    width: calc(100%-20px);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ArticlesContentEachVideo img {
    max-width: 100%;
    /* height: 20vh; */
    max-height: 100%;
    display: block;
}

.ArticlesContentEachVideo p {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    color: black;
    height: 30px;
}

.ArticlesContentEachViewsVideo {
    margin: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}